<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianjian.slidingmenuteachingclient">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name="com.tianjian.slidingmenuteachingclient.application.SystemApplcation">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!-- 我的基本信息-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.MyInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 修改密码-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 我的导师我的学生-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.MyStuOrMentorActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 发任务-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.SendTaskActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 选择学生-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.ChooseStuActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 查看任务详细-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.TaskOverViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 提问-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.AskQuestionActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 查看提问详细-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.QuestionOverViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 追问问题-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.ReAskQuestionActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 回复问题-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.ReplayQuestionActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <!-- 下载服务-->
        <service android:name="com.tianjian.slidingmenuteachingclient.service.DownloadFileService" android:label="@string/app_name"/>

        <!-- 联系管理员-->
        <activity android:name="com.tianjian.slidingmenuteachingclient.activity.ContactAdminActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
    </application>

</manifest>